
<!DOCTYPE>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <h2><%= msg %></h2>
        <table>
            <tr>
                <p><a href="/helo?p1=でもね、&p2=うんち">link</a></p>
            </tr>
        </table>
    </body>
</html>
